html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

#outer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
    flex-direction: column;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.r {
    float: right;
}

.l {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}